@import "../variable/_var.scss";

.social-media {
    &_item {
        display: block;
        color: $color-text !important;
        padding: .5rem;
        border: 2px solid #f5f8f9;
        border-radius: $border-radius;
    }
}

.twitter-tweet {
    margin: 0;
    &_text {
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        height: 40px;
        width: 100%;
        /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: $font-size;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_user , &_date{
        font-size: $font-size-text-item;
    }

    &_image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: .5rem;
    }
}