@import "./variable/_var.scss";
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400&display=swap');
body {
  text-align: right;
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif !important;
  background-color: #f0f2f5 !important;
  color: rgba(0, 0, 0, .85) !important;
  cursor: default;
}

a {
  text-decoration: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.body {
  background-color: $color-white;
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
  @media (max-width: 991.98px) {
    border-radius: 3rem;
  }
}
.v-toast{
  text-align: left;
  direction: ltr;
}